.modal {
   position: fixed;
   inset: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999;
   background-color: rgba(0, 0, 0, 0.4);
   animation: opacity 0.2s forwards;
}

.modalContent {
   position: absolute;
   width: 30%;
   border-radius: 4px;
   background-color: #f8f3d5;
   padding: 1.5rem;
}

@keyframes opacity {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.buttons {
   display: flex;
   justify-content: right;
   gap: 5px;
}
