// .authorContainer {
// }

.authorInfo {
   display: grid;
   grid-template-columns: auto 1fr;
   margin: 0.5rem 0 2.5rem;
   gap: 1.5rem;

   p {
      margin-top: 0.4rem;
   }
}

.booksList {
   display: flex;
   align-items: end;
   flex-wrap: wrap;
   margin-top: 0.8rem;
   gap: 1rem;
}
