.bookPageContainer {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 2rem;
   margin-top: 0.5rem;
}

// .bookPageLeft {
//    // ...
// }

.bookImage {
   margin-bottom: 1rem;
}

.authorName {
   text-decoration: underline;
}

.bookActions {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;

   button {
      padding: 0.2rem 0.5rem;
   }
}
