.bookPageContainer {
   display: grid;
   grid-template-columns: minmax(auto, 228px) 1fr;
   gap: 2rem;
   margin-top: 0.5rem;
}

.bookPageLeft {
   button {
      margin-top: 0.8rem;
   }
}

.bookImage {
   margin-bottom: 1rem;
}

.authorName {
   text-decoration: underline;
}

.bookActions {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;

   button {
      padding: 0.2rem 0.5rem;
   }
}
