@use "../App";

.bookPageContainer {
   display: grid;
   grid-template-columns: minmax(auto, 228px) 1fr;
   gap: 2rem;
   margin-top: 1.8rem;
   padding-bottom: 4rem;
}

.bookPageLeft {
   button {
      position: relative;
      left: 1px;
      margin-top: 0.9rem;
   }
}

.bookPageRight {
   h1 {
      margin-bottom: 0.4rem;
   }
   h2 {
      margin-bottom: 0.4rem;
      font-size: 1.8rem;
   }
}

.bookInfo {
   display: grid;
   gap: 0.3rem;
   margin-bottom: 1rem;
}

.bookDescription {
   line-height: 1.6;
}

.bookImage {
   margin-bottom: 1rem;
}

.createProfile {
   margin-top: 0.5rem;
}

.createProfileLink {
   text-decoration: underline;
}

.authorName {
   text-decoration: underline;
}

.bookActions {
   display: flex;

   button {
      cursor: pointer;
      border-radius: 4px;
      border-width: 0;
      transition: 0.2s;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);

      display: flex;
      gap: 0.3rem;
      padding: 0.4rem;

      svg {
         width: 22px;
         height: 22px;
         fill: black !important;
      }

      span {
         position: relative;
         top: 1px;
         align-self: center;
         font-size: 0.95rem;
      }
   }
}

@media (max-width: 600px) {
   .bookPageRight {
      h1 {
         text-align: center;
         font-size: 1.8rem;
      }
   }
   .bookInfo {
      text-align: center;
      margin-bottom: 2rem;
   }
   .bookPageContainer {
      grid-template-columns: 1fr;
   }

   .bookActions {
      justify-content: center;
   }
}
