.header {
   position: fixed;
   z-index: 999;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #f4f1ea;

   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
}

.headerContent {
   display: flex;
   align-items: center;
}

.logo {
   display: inline-block;
   background: url("../assets/img/site-logo.svg") no-repeat;
   position: relative;
   top: -1px;
   background-position: center;
   background-size: 165px 58px;
   height: 58px;
   width: 165px;
}

.navList {
   display: flex;
   align-items: center;
   margin: 0 1rem;

   li a {
      transition: 0.2s;
      line-height: 55px;
      padding: 0 1rem;
      border-bottom: 2px solid transparent;
      &:hover {
         border-bottom: 2px solid #412918;
         color: #412918;
      }
   }
}

.search {
   position: relative;
   margin-right: 1rem;
   flex: 1;

   form {
      display: flex;
      position: relative;
      flex: 1;

      input {
         width: 100%;
         font-size: 0.9rem;
         border: 1px solid #dcd6cc;
         border-radius: 4px;
         background-color: #ffffff;
         color: #333;
         outline: none;
         padding: 6px 32px 6px 10px;
         transition: 0.2s;

         &:focus {
            box-shadow: 0 0 0.4rem rgba(185, 173, 153, 0.5);
         }
      }

      button {
         cursor: pointer;
         position: absolute;
         right: 5px;
         top: 6px;
         border: none;
         background: url("../assets/img/search-icon.svg") no-repeat;
         background-size: contain;
         width: 24px;
         height: 24px;
      }
   }

   .searchResult {
      display: grid;
      position: absolute;
      z-index: 999;
      width: 100%;
      border-radius: 4px;

      background-color: #ffffff;
      border: 1px solid #dcd6cc;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);

      .searchResultItem {
         display: flex;
         gap: 0.6rem;
         padding: 8px 8px 8px 10px;
         border-bottom: 2px solid #dcd6cc;
         width: 100%;
         &:hover {
            background-color: #f4f1ea;
         }
      }

      .viewAll {
         all: unset;
         font-weight: bold;
         text-align: center;
         cursor: pointer;
         padding: 8px 0;
         color: #412918;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}

.profile {
   a {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0 0.5rem;
      &:hover {
         text-decoration: underline;
      }
   }
}

.noPicture {
   background-color: #f5f4f1;
   outline: 1px solid #e0e0e0;
   border-radius: 50%;
   width: 34px;
}

.userPicture {
   border: 1px solid #e0e0e0;
   border-radius: 50%;
   width: 34px;
}
