@use "../App";

.header {
   position: fixed;
   z-index: 500;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #f8f3d5;

   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
}

.headerContent {
   display: flex;
   align-items: center;
}

.logo {
   display: inline-block;
   background: url("../assets/img/site-logo.svg") no-repeat;
   position: relative;
   top: -1px;
   background-position: center;
   background-size: 165px 58px;
   height: 58px;
   width: 165px;
}

.navCenter {
   display: flex;
   align-items: center;
   flex: 1;
}

.navList {
   display: flex;
   align-items: center;
   margin: 0 1rem;

   li a {
      transition: 0.3s;
      line-height: 55px;
      padding: 2px 1rem 0;
      border-bottom: 2px solid transparent;
      &:hover {
         border-bottom: 2px solid App.$primary-color;
      }
   }
}

.search {
   position: relative;
   margin-right: 1rem;
   flex: 1;

   form {
      display: flex;
      position: relative;

      input {
         width: 100%;
         font-size: 0.9rem;
         border: 1px solid #cec7bc;
         background-color: #ffffff;
         color: #333;
         outline: none;
         padding: 7px 32px 7px 10px;
         transition: 0.2s;

         &:focus {
            box-shadow: 0 0 0.4rem rgba(163, 152, 132, 0.5);
         }
      }

      .searchIcon {
         cursor: pointer;
         position: absolute;
         right: 5px;
         top: 6px;
         border: none;
         background: url("../assets/img/search-icon.svg") no-repeat;
         background-size: contain;
         width: 24px;
         height: 24px;
      }

      .closeSearchIcon {
         cursor: pointer;
         position: absolute;
         right: 5px;
         top: 6px;
         border: none;
         background: url("../assets/img/close-search.svg") no-repeat;
         background-size: contain;
         width: 24px;
         height: 24px;
      }
   }

   .searchResult {
      display: grid;
      position: absolute;
      z-index: 999;
      width: 100%;

      background-color: #ffffff;
      border: 1px solid #dcd6cc;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);

      .searchResultItem {
         display: flex;
         gap: 0.6rem;
         padding: 8px 8px 8px 10px;
         border-bottom: 2px solid #dcd6cc;
         width: 100%;
         &:hover {
            background-color: #f4f1ea;
         }
      }

      .viewAll {
         all: unset;
         font-weight: bold;
         text-align: center;
         cursor: pointer;
         padding: 8px 0;
         color: App.$primary-color;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}

.profile {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 2px 0.5rem 0;
   transition: 0.3s;
   height: 59px;
   border-bottom: 2px solid transparent;
   &:hover {
      border-bottom: 2px solid App.$primary-color;
   }
}

.noPicture {
   background-color: #f5f4f1;
   outline: 1px solid #cacaca;
   border-radius: 50%;
   width: 34px;
   height: 34px;
}

.userPicture {
   border: 1px solid #cacaca;
   border-radius: 50%;
   width: 34px;
   height: 34px;
}

.menuButton {
   background-color: unset;
   height: 40px;
   width: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   transition: 0.3s;
   cursor: pointer;
}

.menuButton::after {
   content: "";
   display: block;
   width: 27px;
   height: 2px;
   border-radius: 4px;
   background-color: #412918;
   box-shadow: 0px 8px #412918, 0 -8px #412918;
   transition: 0.2s;
}

.mobileMenuActive::after {
   transform: rotate(90deg);
   width: 4px;
   height: 4px;
}

.navCenterMobile {
   background-color: #f8f3d5;
   display: flex;
   flex-direction: column;
   justify-items: center;
   position: absolute;
   top: 58px;
   left: 0;
   width: 100%;

   .search {
      order: -1;
      margin: 0;
      padding: 0 1rem;
   }

   .searchResult {
      position: unset;
   }

   .navList {
      display: block;
      padding: 0;
      margin: 5px 0 0;
      li a {
         display: block;
         padding: 0 1.2rem;
         border: 0;
         &:hover {
            background-color: #e6dfbc;
         }
      }
   }

   .profile {
      padding: 0 1rem;
      border: 0;
      &:hover {
         background-color: #e6dfbc;
      }
   }
}

@media (max-width: 875px) {
   .navCenter {
      display: none;
   }
   .headerContent {
      justify-content: space-between;
   }
}
