@use "../App.scss";

.homeIntro {
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
   align-items: center;
   gap: 5rem;
   margin: 6rem 0 9rem;

   .homeIntroDesc {
      h1 {
         font-size: 3rem;
         margin-bottom: 0.2rem;
      }
      p {
         margin-bottom: 2rem;
      }
   }

   img {
      margin-left: 0.5rem;
   }
}

.classicsDesc {
   text-align: center;
   padding-top: 6rem;
   margin-bottom: 2.5rem;
}

.classicsList {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 2.2rem;
   margin-bottom: 6rem;
}

.classicInfo {
   width: 180px;
   padding: 0.4rem;
   text-align: center;
}

.classicTitle {
   font-size: 0.93rem;
}

.classicDate {
   color: rgb(82, 82, 82);
}

.authorsDesc {
   text-align: center;
   margin-bottom: 3rem;
}

.authorsList {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2.5rem;
   justify-content: center;
   margin-bottom: 8rem;
}

.authorContent {
   display: grid;
   grid-template-columns: auto 1fr;
   align-self: center;
   gap: 1rem;

   .authorDesc {
      margin-top: 0.5rem;
   }

   p {
      margin-top: 0.4rem;
      font-size: 0.96rem;
   }

   a {
      margin-top: 0.5rem;
      color: App.$primary-color;
      position: relative;
      &::before {
         content: "";
         width: 75px;
         height: 2px;
         bottom: 0;
         background-color: App.$primary-color;
         position: absolute;
         transition: 0.3s;
      }
      &:hover::before {
         width: 106px;
         background-color: #72492b;
      }
      &:hover {
         color: #72492b;
      }
   }
}

.readingContainer {
   margin-bottom: 12rem;

   .readingDesc {
      text-align: center;
      margin-bottom: 3.5rem;
   }

   .readingList {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 3rem;
      column-gap: 6rem;

      h2 {
         margin-bottom: 0.5rem;
      }
   }
}
