@use "../App.scss";

.home {
   display: grid;
   gap: 1.25rem;
   justify-items: center;
}

.homeIntro p {
   text-align: center;
}

.mustReadListContainer {
   display: grid;
   gap: 1rem;
   justify-items: center;
}

.mustReadList {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.3rem;
}
