.wrapper {
   display: grid;

   img {
      grid-area: 1/1;
      border-radius: 4px;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
         0 1px 3px 1px rgba(60, 64, 67, 0.15);
      transition: 0.4s;
      opacity: 0;
   }
}

.hover {
   outline: 2px solid transparent;
   transition: 0.3s ease;
   &:hover {
      outline: 2px solid #918c6f;
      box-shadow: 0 0 0.4rem rgba(77, 53, 37, 0.5);
   }
}

.skeleton {
   grid-area: 1/1;
   border-radius: 4px;
   background-image: linear-gradient(90deg, #eee 0px, #fff, 50%, #eee 100%);
   background-size: 200%;
   animation: skeleton 1.5s infinite linear;
}

@keyframes skeleton {
   from {
      background-position: 0px;
   }
   to {
      background-position: -200%;
   }
}
