.myBookshelf {
   margin-top: 1.2rem;
}

.size {
   font-size: 1.8rem;
}

.bookList {
   display: flex;
   align-items: end;
   flex-wrap: wrap;
   gap: 1.25rem;
   margin-top: 0.5rem;
}

.bookItem {
   display: grid;
   gap: 0.5rem;
   transition: all 0.4s ease-out;
}

.createProfileLink {
   text-decoration: underline;
}
