@use "../App";

.myBookshelf {
   margin-top: 1.5rem;
   margin-bottom: 5rem;
}

.size {
   font-size: 1.8rem;
}

.bookList {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   align-items: center;
   gap: 1.25rem;
   margin-top: 0.8rem;
}

.bookItem {
   position: relative;
   display: grid;
   grid-template-columns: auto 1fr;
   box-shadow: 0 0 4px rgba(139, 136, 124, 0.46);
   border-radius: 4px;

   transition: all 0.3s ease-out;
   outline: 1px solid transparent;

   &:hover {
      background-color: #e4e4e4;
      outline: 1px solid #a7a5a3;
   }
}

.bookInfo {
   display: flex;
   flex-direction: column;
   padding: 0.5rem 1.82rem 0.5rem 0.8rem;
}

.bookTitle {
   font-size: 1.1rem;
   font-weight: bold;
   margin-bottom: 0.2rem;

   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
}

.authorName,
.pageCount {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1;
   overflow: hidden;
   font-size: 0.9rem;
   opacity: 0.9;
}

.removeIcon {
   cursor: pointer;
   width: 27px;
   height: 27px;

   position: absolute;
   top: 0;
   right: 0;
   z-index: 3000;
   transition: 0.2s;

   &:hover {
      fill: #181818 !important;
   }
}

.createProfileLink {
   text-decoration: underline;
}

@media (max-width: 1200px) {
   .bookList {
      grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 725px) {
   .bookList {
      grid-template-columns: 1fr;
   }
}

@media (max-width: 500px) {
   .myBookshelf h1 {
      font-size: 2rem;
   }
}
