@use "../App.scss";

.searchResult {
   h1 {
      margin: 1.2rem 0;
   }
}

.book {
   display: flex;
   gap: 1.25rem;
   margin-bottom: 1.2rem;
}

.bookTitle {
   display: inline-block;
   font-size: 1.17rem;
   font-family: App.$h-font;
   &:hover {
      text-decoration: underline;
   }
}
