.authorContainer {
   margin-top: 1.4rem;
   margin-bottom: 4rem;
}

.authorInfo {
   display: grid;
   grid-template-columns: auto 1fr;
   margin: 0.5rem 0 3rem;
   gap: 1.5rem;

   p {
      margin-top: 0.4rem;
      line-height: 1.6;
   }
}

@media (max-width: 700px) {
   .authorContainer {
      h1,
      p {
         text-align: center;
      }
      h1 {
         font-size: 1.8rem;
      }
   }
   .authorInfo {
      grid-template-columns: 1fr;
   }
}
