$p-font: Lexend;
$h-font: Cabinet Grotesk;
$primary-color: #301e12;

* {
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
}

@mixin button {
   cursor: pointer;
   border-radius: 4px;
   border-width: 0;
   transition: 0.2s;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);

   &:active {
      transform: translateY(2px);
   }
}

body {
   font-family: $p-font, sans-serif;
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
   padding-top: 56.78px;
   background-color: #fffefd;
}

main {
   min-height: calc(100vh - (56.78px + 19.2px));
}

.container {
   max-width: 75rem;
   padding: 0 1.5rem;
   margin: 0 auto;
}

p,
h1,
h2,
h3 {
   overflow-wrap: break-word;
}

p {
   font-size: 1.05rem;
   color: #1f130b;
}

h1,
h2,
h3 {
   font-family: $h-font, sans-serif;
   color: $primary-color;
   line-height: 1.3;
}

h1 {
   font-size: 2.4rem;
}

a {
   display: inline-block;
   text-decoration: none;
   color: $primary-color;
}

img {
   display: block;

   max-width: 100%;
}

.userPicture {
   width: 150px;
   border-radius: 50%;
   border: 1px solid #d4d4d4;
}

.noPicture {
   width: 150px;
   border-radius: 50%;
   border: 1px solid #d4d4d4;
   background-color: #f5f4f1;
}

input,
button {
   display: block;
   box-sizing: border-box;
   font: inherit;
}

input[type="text"] {
   width: 100%;
   padding: 0.5rem;
   border-color: transparent;
   border-radius: 4px;
   background-color: #e9e8e5;
   transition: 0.3s;
   &:focus {
      outline: 0;
      border: 2px solid #6b4529;
   }
}

input[type="file"] {
   display: none;
}

.file {
   @include button;
   font-size: 1rem;
   padding: 0.4rem 0.8rem;
   background-color: #422a19;
   color: white;
   &:hover {
      background-color: #6b4529;
   }
}

textarea {
   width: 100%;
   font: inherit;
   padding: 0.5rem;
   background-color: #e9e8e5;
   border-radius: 4px;
   border: 2px solid transparent;
   resize: none;
   transition: 0.2s;
   &:focus {
      border: 2px solid #6b4529;
      outline: none;
   }
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0px 1000px #f3f2f0 inset;
}

label {
   display: block;
   font-size: 1.1rem;
   margin-bottom: 0.3rem;
}

.loading {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   border: 5px solid #412918;
   border-right-color: transparent;
   animation: loading 1s infinite;
   margin: 1rem;
}

.loading-header {
   width: 19px;
   height: 19px;
   position: absolute;
   top: 7px;
   right: 9px;
   border-radius: 50%;
   border: 3px solid #a8a8a8;
   border-right-color: transparent;
   animation: loading 1s linear infinite;
}

@keyframes loading {
   to {
      transform: rotate(360deg);
   }
}

.animeUpDown {
   opacity: 0;
   transform: translateY(-20px);
   animation: show 0.3s forwards;
}

.animeLeft {
   opacity: 0;
   transform: translateX(-20px);
   animation: show 0.3s forwards;
}

@keyframes show {
   to {
      opacity: 1;
      transform: initial;
   }
}

@media (max-width: 875px) {
   body {
      padding-top: 56.77px;
   }
}
