@use "../../App";

.editProfile {
   margin: 1.5rem auto 0;
   padding-bottom: 2rem;
   max-width: 50rem;
   h1 {
      margin-bottom: 1.2rem;
   }
   input,
   textarea {
      margin-bottom: 1.5rem;
   }
}

.profilePictureSection {
   display: flex;
   align-items: center;
   gap: 1.8rem;
   margin-bottom: 1.5rem;

   div {
      display: flex;
      gap: 1rem;

      label {
         margin: 0;
      }

      button {
         all: unset;
         cursor: pointer;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}

.finalActions {
   display: flex;
   gap: 1rem;
   margin-bottom: 5rem;
}

.saveChangesButton {
   @include App.button;
   font-size: 1rem;
   padding: 0.4rem 0.8rem;
   background-color: #422a19;
   color: white;
   &:hover {
      background-color: #6b4529;
   }
}

.deleteProfileButton {
   @include App.button;
   font-size: 1rem;
   padding: 0.4rem 0.8rem;
   background-color: #ef4444;
   color: white;
   &:hover {
      background-color: #dc2626;
   }
}

@media (max-width: 530px) {
   .profilePictureSection {
      flex-direction: column;
   }
}
