@use "../../App.scss";

.userProfile {
   margin-top: 1.2rem;
}

.userIntro {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   gap: 1.5rem;
}

.userInfo {
   display: grid;
   gap: 0.2rem;

   button {
      @include App.button;
      justify-self: start;
      background-color: #422a19;
      color: #fffefd;
      padding: 0.3rem 0.6rem;

      &:hover {
         background-color: #6b4529;
      }
   }
}

.userStats {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
